@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('general.css');
@import url('header.css');
@import url('footer.css');

.content{
	width: 100%;
	padding: 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content > div{
	width: 48%;
	display: flex;
	flex-direction: column;
}

.content .title{
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding: 15px 0;
}

.content .title h1{
	font-size: 20px;
	font-weight: 700;
	color: #555555;
}

.content .subtitle{
	width: 100%;
	padding: 40px 0;
}

.content .subtitle h2{
	width: 100%;
	font-size: 21px;
	font-weight: 400;
	color: #777777;
	line-height: 33px;
}

.accordion,
.accordion .accordion-item{
	width: 100%;
}

.accordion .accordion-item{
	border-top: 1px solid rgba(0,0,0,0.3);
}

.accordion .accordion-item.shown > .accordion-title{
	background-color: rgba(0,0,0,0.05);
}

.accordion .accordion-item.shown > .accordion-title i{
	transform: rotate(180deg);
	color: #e5bf72;
	text-shadow: 0 0 3px #000;
}

.accordion .accordion-item.shown > .accordion-title h2{
	color: #e5bf72;
	font-weight: 700;
	text-shadow: 0 0 3px #000;
}

.accordion .accordion-item .accordion-title{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
	padding: 15px;
}

.accordion .accordion-item .accordion-title:hover h2{
	font-weight: bold;
}

.accordion .accordion-item .accordion-title i{
	width: 28px;
	height: 28px;
	text-align: center;
	font-size: 30px;
	color: #000;
	transition: ease 0.3s;
	align-items: start;
	margin: 0 10px;
	
}

.accordion .accordion-item .accordion-title h2{
	font-size: 18px;
	color: #000;
	font-weight: 400;
	flex-grow: 1;
}

.accordion .accordion-item .accordion-answer{
	width: 100%;
	padding: 15px 10px 15px 60px;
	display: none;
}

.accordion .accordion-item .accordion-answer h3{
	font-size: 16px;
	color: #777777;
	font-weight: 400;
	line-height: 26px;
}

input{
	padding: 15px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 12px;
}

.form-contact{
	margin-top: 40px;
}

.form-contact textarea{
	width: 100%;
	min-height: 150px;
	resize: vertical;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 12px;
}

input[type=text]{
	text-transform: uppercase;
}

input[type=email]{
	text-transform: lowercase;
}

input[type=text]:focus,
input[type=email]:focus,
textarea{
	box-shadow: 0 0 5px dodgerblue;
}

input[type=text]:hover,
input[type=email]:hover,
textarea{
	box-shadow: 0 0 3px gray;
}

.w-100{
	width: 100%;
	flex-grow: 1;
}
.w-50{
	width: 49%;
	min-width: 230px;
	flex-grow: 1;
}
.w-33{
	width: 32%;
	flex-grow: 1;
	min-width: 170px;
}

input[type=submit]{
	width: 100%;
	max-width: 150px;
	float: right;
	border-radius: 5px;
	border: 0;
	background-color: #E7BD7F;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	transition: linear 0.3s;
	margin: 0 0 20px 0;
}

.form-contact input[type=submit]:hover{
	filter: brightness(80%);
}

.form-contact .submit{
	padding: 20px 0;
	border-top: 1px solid rgba(0,0,0,0.2);
}

::placeholder{
	font-size: 12px;
	color: rgba(0,0,0,0.3);
	text-transform: lowercase;
}

.form-contact label.is-required::after{
	content: "*";
	margin-left: 3px;
	color:red;
}

.form-contact label{
	font-size: 12px;
	font-weight: 700;
	color:#000;
	line-height: 30px;
}

.right #contact-message{
	width: 100%;
	background-color: #fff;
	text-align: center;
}

.right #contact-message{
	font-weight: 600;
	font-size: 14px;
	transition: opacity 0.3s;
}

.right #contact-message[data-type=normal]{
	opacity: 0;
}

.right #contact-message[data-type=processing]{
	opacity: 1;
	color:darkblue;
}

.right #contact-message[data-type=success]{
	opacity: 1;
	color:darkgreen;
}

.right #contact-message[data-type=error]{
	opacity: 1;
	color:red;
}