<body>
<style>
	.btn:hover{
		background-color:#C8A46F !important;
	}
	
	.btn:hover a{
		color: #000 !important;
		font-size: 16px !important;
	}
</style>

<div class="container">
	
	<div><b>User Name:</b> [username]</div>
	<div><b>User Email:</b> [useremail]</div>
	<div><b>Phone Number:</b> [phonenumber]</div>
	<div><b>Registration Date:</b> [registrationdate]</div>
	<br>
	
	<div class="btn" style="
	     width: 150px !important;
		 height: 40px !important;
		 border: 2px solid #C8A46F !important;
		 transition:all 0.3s ease-in-out !important;
		 border-radius: 5px  !important;
		 line-height: 40px !important;
		 text-align: center !important;">
		
		<a id="btn_gotolist" href="http://giw.villasoftgps.com.ve/views/useraccounts.php" style="
			text-decoration: none !important;
			color: #94744a;
			transition:all 0.3s ease-in-out !important;
			font-size:15px;
			font-weight: bold !important;">
			Go to User List
		</a>
	</div>
</div>
</body>
